<div class="jumbotron">
    <h2>Welcome to The Book Club!</h2>
  <p>Follow the recommendations of our community of readers. Log on using Facebook and share books that entertain and educate you.</p>
</div>

