<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <h4>Our Readers</h4>
            <% @users.each do |user| %>
                <h6><%= link_to(user.name, user) %></h6>
                <%= image_tag(user.image_url, class: "img-rounded") %>
            <% end %><br>
            <%= will_paginate @users %>
        </div>
        <div class="col-md-8 col-sm-8">
            <h4>Latest Recommendations</h4>
            <%= render 'shared/book' %>
        </div><br>
    </div>
</div>
