<% if current_user %>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <%= render 'shared/intro' %>
            </div>
            <div class="col-md-8 col-sm-8">
                <h4>Book Feed</h4>
                <%= render 'shared/book' %>
                <%= will_paginate @books %>
            </div>
        </div>
    </div>
<% else %>
    <%= render 'shared/welcome' %>
<% end %>
