<% if current_user %>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h4><%= current_user.name %></h4>
            <%= image_tag current_user.image_url, class: "img-thumbnail", alt: current_user.name %>
        </div>
        <div class="col-md-8">
            <h4>New Recommendations</h4>
        </div>
    </div>
</div>
<% else %>
  <%= render 'welcome' %>
<% end %>
